USE [PropertyHubDB]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 16-03-2026 19:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[AdminUserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[PropertyId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Slug] [nvarchar](250) NOT NULL,
	[PropertyType] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](250) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[AreaSqFt] [decimal](18, 2) NOT NULL,
	[Bedrooms] [int] NOT NULL,
	[Bathrooms] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsForSale] [bit] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[ThumbnailImage] [nvarchar](500) NOT NULL,
	[View360Url] [nvarchar](1000) NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyImages]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyImages](
	[PropertyImageId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Caption] [nvarchar](200) NULL,
	[IsPrimary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([AdminUserId], [FullName], [UserName], [PasswordHash], [IsActive], [CreatedOn]) VALUES (1, N'System Administrator', N'admin', N'admin123', 1, CAST(N'2026-03-15T12:12:05.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Properties] ON 

SET IDENTITY_INSERT [dbo].[Properties] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyImages] ON 

INSERT [dbo].[PropertyImages] ([PropertyImageId], [PropertyId], [ImageUrl], [Caption], [IsPrimary]) VALUES (1, 1, N'https://images.unsplash.com/photo-1564013799919-ab600027ffc6?auto=format&fit=crop&w=1200&q=80', N'Front View', 1)
INSERT [dbo].[PropertyImages] ([PropertyImageId], [PropertyId], [ImageUrl], [Caption], [IsPrimary]) VALUES (2, 1, N'https://images.unsplash.com/photo-1600585154340-be6161a56a0c?auto=format&fit=crop&w=1200&q=80', N'Living Area', 0)
INSERT [dbo].[PropertyImages] ([PropertyImageId], [PropertyId], [ImageUrl], [Caption], [IsPrimary]) VALUES (3, 1, N'https://images.unsplash.com/photo-1600607687939-ce8a6c25118c?auto=format&fit=crop&w=1200&q=80', N'Bedroom', 0)
SET IDENTITY_INSERT [dbo].[PropertyImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [UserName], [Email], [PasswordHash], [IsActive], [CreatedOn]) VALUES (1, N'Demo User', N'user1', N'user1@gmail.com', N'user123', 1, CAST(N'2026-03-15T12:12:05.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdminUse__C9F2845628698EE8]    Script Date: 16-03-2026 19:36:10 ******/
ALTER TABLE [dbo].[AdminUsers] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Properti__BC7B5FB6132AC585]    Script Date: 16-03-2026 19:36:10 ******/
ALTER TABLE [dbo].[Properties] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E126AA5A]    Script Date: 16-03-2026 19:36:10 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F284562AABC5D9]    Script Date: 16-03-2026 19:36:10 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [IsForSale]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PropertyImages] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PropertyImages]  WITH CHECK ADD  CONSTRAINT [FK_PropertyImages_Properties] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([PropertyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyImages] CHECK CONSTRAINT [FK_PropertyImages_Properties]
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminUser_Create]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AdminUser_Create]
    @FullName NVARCHAR(150),
    @UserName NVARCHAR(100),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.AdminUsers WHERE UserName = @UserName)
    BEGIN
        RAISERROR('Admin username already exists.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.AdminUsers (FullName, UserName, PasswordHash, IsActive)
    VALUES (@FullName, @UserName, @Password, 1);

    SELECT SCOPE_IDENTITY() AS NewAdminId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_AdminUser_Validate]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   ADMIN PROCEDURES
========================= */
CREATE   PROCEDURE [dbo].[sp_AdminUser_Validate]
    @UserName NVARCHAR(100),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT AdminUserId, FullName, UserName, IsActive
    FROM dbo.AdminUsers
    WHERE UserName = @UserName
      AND PasswordHash = @Password
      AND IsActive = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Delete]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Property_Delete]
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.Properties WHERE PropertyId = @PropertyId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Property_GetAll]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Property_GetAll]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.Properties ORDER BY CreatedOn DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Property_GetById]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Property_GetById]
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.Properties WHERE PropertyId = @PropertyId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Property_GetBySlug]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Property_GetBySlug]
    @Slug NVARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.Properties WHERE Slug = @Slug;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Property_GetFeatured]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Property_GetFeatured]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 6 * FROM dbo.Properties WHERE IsFeatured = 1 ORDER BY CreatedOn DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Property_GetLatest]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Property_GetLatest]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 9 * FROM dbo.Properties ORDER BY CreatedOn DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Property_Save]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Property_Save]
    @PropertyId INT,
    @Title NVARCHAR(250),
    @Slug NVARCHAR(250),
    @PropertyType NVARCHAR(100),
    @City NVARCHAR(100),
    @Location NVARCHAR(250),
    @Price DECIMAL(18,2),
    @AreaSqFt DECIMAL(18,2),
    @Bedrooms INT,
    @Bathrooms INT,
    @Description NVARCHAR(MAX),
    @IsForSale BIT,
    @IsFeatured BIT,
    @ThumbnailImage NVARCHAR(500),
    @View360Url NVARCHAR(1000) = NULL,
    @ImageUrlsCsv NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @PropertyId = 0
    BEGIN
        INSERT INTO dbo.Properties
        (
            Title, Slug, PropertyType, City, Location, Price, AreaSqFt, Bedrooms, Bathrooms,
            Description, IsForSale, IsFeatured, ThumbnailImage, View360Url
        )
        VALUES
        (
            @Title, @Slug, @PropertyType, @City, @Location, @Price, @AreaSqFt, @Bedrooms, @Bathrooms,
            @Description, @IsForSale, @IsFeatured, @ThumbnailImage, @View360Url
        );

        SET @PropertyId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE dbo.Properties
        SET Title = @Title,
            Slug = @Slug,
            PropertyType = @PropertyType,
            City = @City,
            Location = @Location,
            Price = @Price,
            AreaSqFt = @AreaSqFt,
            Bedrooms = @Bedrooms,
            Bathrooms = @Bathrooms,
            Description = @Description,
            IsForSale = @IsForSale,
            IsFeatured = @IsFeatured,
            ThumbnailImage = @ThumbnailImage,
            View360Url = @View360Url
        WHERE PropertyId = @PropertyId;

        DELETE FROM dbo.PropertyImages WHERE PropertyId = @PropertyId;
    END

    IF ISNULL(@ImageUrlsCsv, '') <> ''
    BEGIN
        ;WITH ImageList AS
        (
            SELECT LTRIM(RTRIM(value)) AS ImageUrl,
                   ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS RowNum
            FROM STRING_SPLIT(REPLACE(@ImageUrlsCsv, CHAR(13), ''), CHAR(10))
            WHERE LTRIM(RTRIM(value)) <> ''
        )
        INSERT INTO dbo.PropertyImages (PropertyId, ImageUrl, Caption, IsPrimary)
        SELECT @PropertyId, ImageUrl, NULL, CASE WHEN RowNum = 1 THEN 1 ELSE 0 END
        FROM ImageList;
    END

    SELECT @PropertyId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_PropertyImage_GetByPropertyId]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_PropertyImage_GetByPropertyId]
    @PropertyId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM dbo.PropertyImages
    WHERE PropertyId = @PropertyId
    ORDER BY IsPrimary DESC, PropertyImageId ASC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_User_Register]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   USER PROCEDURES
========================= */
CREATE   PROCEDURE [dbo].[sp_User_Register]
    @FullName NVARCHAR(150),
    @UserName NVARCHAR(100),
    @Email NVARCHAR(150),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Users WHERE UserName = @UserName)
    BEGIN
        RAISERROR('Username already exists.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Users WHERE Email = @Email)
    BEGIN
        RAISERROR('Email already exists.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Users (FullName, UserName, Email, PasswordHash, IsActive)
    VALUES (@FullName, @UserName, @Email, @Password, 1);

    SELECT SCOPE_IDENTITY() AS NewUserId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_User_Validate]    Script Date: 16-03-2026 19:36:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_User_Validate]
    @UserName NVARCHAR(100),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserId, FullName, UserName, Email, IsActive
    FROM dbo.Users
    WHERE UserName = @UserName
      AND PasswordHash = @Password
      AND IsActive = 1;
END

GO
